# Окружение
.env
.env.example

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Логи и временные файлы
/logs
*.log
*.log.*

# Данные локальных сервисов
whisper_cache/

# IDE & система
.idea/
.vscode/
.DS_Store
*.swp
*~

# Git
.git/
.gitignore

# Бинарные/служебные файлы
*.db
dump.rdb
*.sock
#ib_*
#innodb_*
binlog.*
auto.cnf