aiogram==3.13.1
pydantic-settings==2.6.0
cachetools==5.3.2
aiosmtplib==3.0.2
SQLAlchemy==2.0.36
aiomysql==0.2.0
alembic==1.13.3
cryptography==43.0.3
pandas
gspread-pandas
openpyxl
openai-whisper
APScheduler==3.10.4
redis==5.2.1
psycopg==3.2.10
psycopg-binary==3.2.10
greenlet